<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
            <!--Búsqueda de productos por categoría de manera dinámica-->
            <li *ngFor="let category of productCategories">
                <a routerLink="/category/{{category.id}}" routerLinkActive="active-link">
                    {{category.categoryName}}
                </a>
            </li>
           
        </ul>
    </nav>
</div>

<!--
    Menú de búsqueda por categoría hardcodeado (no dinámico):

    <div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
            <li>
                <a routerLink="/category/1" routerLinkActive="active-link">Books</a>
            </li>
            <li>
                <a routerLink="/category/2" routerLinkActive="active-link">Coffee Mugs</a>
            </li>
            <li>
                <a href="#">Mouse Pads</a>
            </li>
            <li>
                <a href="#">Luggage Tags</a>
            </li>
        </ul>
    </nav>
</div>
-->